<!-- メニューのナビ部分 -->
<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">メニュー</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#soba">そば</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#set">セット</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#set meal">定食</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#dish">一品もの</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#limited">期間限定</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#drink">ドリンク</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#desert">デザート</a>
    </li>
  </ul>
</nav>

<!-- メニューのボディ部分 -->
<p>※全て税込価格です</p>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="soba">そば</h4>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">そば</h5>
      <p class="card-text">
        <ul>
          <li>大：680円</li>
          <li>中：570円</li>
          <li>小：420円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">中で1人前サイズです</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">やさいそば</h5>
      <p class="card-text">
        <ul>
          <li>大：880円</li>
          <li>中：780円</li>
          <li>小：680円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">そばの上に野菜がのるのでボリュームが有ります</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">皿そば</h5>
      <p class="card-text">
        <ul>
          <li>大：1060円</li>
          <li>中：930円</li>
          <li>小：820円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">結構ボリュームがあります。</small>
    </div>
  </div>
  </div>
  <h4 id="set">セット</h4>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">そばセット</h5>
      <p class="card-text">
        <ul>
          <li>大：680円</li>
          <li>中：570円</li>
          <li>小：420円</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">やさいそばセット</h5>
      <p class="card-text">
        <ul>
          <li>大：880円</li>
          <li>中：780円</li>
          <li>小：680円</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">皿そばセット</h5>
      <p class="card-text">
        <ul>
          <li>大：1060円</li>
          <li>中：930円</li>
          <li>小：820円</li>
        </ul>
      </p>
    </div>
  </div>
  </div>
  <h4 id="set meal">定食</h4>
  <p>※単品でも注文も可能です</p>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">そば</h5>
      <p class="card-text">
        <ul>
          <li>大：680円</li>
          <li>中：570円</li>
          <li>小：420円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">中で1人前サイズです</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">やさいそば</h5>
      <p class="card-text">
        <ul>
          <li>大：880円</li>
          <li>中：780円</li>
          <li>小：680円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">そばの上に野菜がのるのでボリュームが有ります</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">皿そば</h5>
      <p class="card-text">
        <ul>
          <li>大：1060円</li>
          <li>中：930円</li>
          <li>小：820円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">結構ボリュームがあります。</small>
    </div>
  </div>
</div>
  <h4 id="dish">一品もの</h4>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ラフテー</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">豚の角煮</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">そーみんちゃんぷるー</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">そーめんの炒め物</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ひらやーち</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">沖縄風チヂミ</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ご飯</h5>
      <p class="card-text">
        <ul>
          <li>じゅうしい</li>
          <li>黒米</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">選べます</small>
    </div>
  </div>
</div>
  <h4 id="limited">期間限定</h4>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">肉もやしそば</h5>
      <p class="card-text">
        <ul>
          <li>大：680円</li>
          <li>中：570円</li>
          <li>小：420円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">中で1人前サイズです</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ゆし豆腐そば</h5>
      <p class="card-text">
        <ul>
          <li>大：880円</li>
          <li>中：780円</li>
          <li>小：680円</li>
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">そばの上に野菜がのるのでボリュームが有ります</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">皿そば</h5>
      <p class="card-text">
        <ul>
          <li>大：1060円</li>
          <li>中：930円</li>
          <li>小：820円</li>
        </ul>
      </p>
    </div>
  </div>
  </div>
  <h4 id="drink">ドリンク</h4>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">琉球チャイ</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">琉球紅茶</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">コーヒー</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">サトウキビ酢</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ハーブティー</h5>
      <p class="card-text"></p>
    </div>
  </div>
</div>
  <h4 id="desert">デザート</h4>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">本日のケーキ</h5>
        <p class="card-text"></p>
      </div>
    </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ホットぜんざい</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">氷ぜんざい</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">くずもち</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">杏仁豆腐</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">フローズンマンゴー</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/soba.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">マンゴープリン</h5>
      <p class="card-text"></p>
    </div>
  </div>
</div>
